altgraph==0.17.4
colored==2.2.4
Gooey==1.0.8.1
numpy==2.1.0
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
psutil==6.0.0
pygtrie==2.5.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pypdf==4.3.1
pywin32-ctypes==0.2.3
six==1.16.0
wxPython==4.2.1
